.u-section-1 .u-sheet-1 {
  min-height: 526px;
}

.u-section-1 .u-image-1 {
  width: 349px;
  height: 349px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-1 {
  font-family: Alef;
  margin: 32px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}