.u-section-1 .u-sheet-1 {
  min-height: 705px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 261px;
  background-image: url("../../images/2refinedscreenshot1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  min-height: 261px;
  background-image: url("../../images/2refinedscreenshot4.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  min-height: 261px;
  background-image: url("../../images/2refinedscreenshot6.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  min-height: 261px;
  background-image: url("../../images/2refinedscreenshot8.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  min-height: 261px;
  background-image: url("../../images/2refinedscreenshot10.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  min-height: 261px;
  background-image: url("../../images/Design2Final.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 42px 0 0 auto;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: -64px auto 42px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-1 .u-image-1 {
    min-height: 215px;
  }

  .u-section-1 .u-image-2 {
    min-height: 215px;
  }

  .u-section-1 .u-image-3 {
    min-height: 215px;
  }

  .u-section-1 .u-image-4 {
    min-height: 215px;
  }

  .u-section-1 .u-image-5 {
    min-height: 215px;
  }

  .u-section-1 .u-image-6 {
    min-height: 215px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-1 .u-image-1 {
    min-height: 165px;
  }

  .u-section-1 .u-image-2 {
    min-height: 165px;
  }

  .u-section-1 .u-image-3 {
    min-height: 165px;
  }

  .u-section-1 .u-image-4 {
    min-height: 165px;
  }

  .u-section-1 .u-image-5 {
    min-height: 165px;
  }

  .u-section-1 .u-image-6 {
    min-height: 165px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1667px;
  }

  .u-section-1 .u-image-1 {
    min-height: 371px;
  }

  .u-section-1 .u-image-2 {
    min-height: 371px;
  }

  .u-section-1 .u-image-3 {
    min-height: 371px;
  }

  .u-section-1 .u-image-4 {
    min-height: 371px;
  }

  .u-section-1 .u-image-5 {
    min-height: 371px;
  }

  .u-section-1 .u-image-6 {
    min-height: 371px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1119px;
  }

  .u-section-1 .u-image-1 {
    min-height: 234px;
  }

  .u-section-1 .u-image-2 {
    min-height: 234px;
  }

  .u-section-1 .u-image-3 {
    min-height: 234px;
  }

  .u-section-1 .u-image-4 {
    min-height: 234px;
  }

  .u-section-1 .u-image-5 {
    min-height: 234px;
  }

  .u-section-1 .u-image-6 {
    min-height: 234px;
  }
}